<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itheima.springmvc.dao.CommentMapper" >
  <resultMap id="BaseResultMap" type="com.itheima.springmvc.pojo.Comment" >
    <id column="comment_id" property="commentId" jdbcType="INTEGER" />
    <result column="customer_id" property="customerId" jdbcType="INTEGER" />
    <result column="shop_id" property="shopId" jdbcType="INTEGER" />
    <result column="logistics" property="logistics" jdbcType="REAL" />
    <result column="service" property="service" jdbcType="REAL" />
    <result column="consistency" property="consistency" jdbcType="REAL" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    comment_id, customer_id, shop_id, logistics, service, consistency
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.itheima.springmvc.pojo.CommentExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from comment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from comment
    where comment_id = #{commentId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from comment
    where comment_id = #{commentId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.itheima.springmvc.pojo.CommentExample" >
    delete from comment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.itheima.springmvc.pojo.Comment" useGeneratedKeys="true" keyProperty="commentId">
    insert into comment (customer_id, shop_id, 
      logistics, service, consistency
      )
    values (#{customerId,jdbcType=INTEGER}, #{shopId,jdbcType=INTEGER}, 
      #{logistics,jdbcType=REAL}, #{service,jdbcType=REAL}, #{consistency,jdbcType=REAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.itheima.springmvc.pojo.Comment" >
    insert into comment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="commentId != null" >
        comment_id,
      </if>
      <if test="customerId != null" >
        customer_id,
      </if>
      <if test="shopId != null" >
        shop_id,
      </if>
      <if test="logistics != null" >
        logistics,
      </if>
      <if test="service != null" >
        service,
      </if>
      <if test="consistency != null" >
        consistency,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="commentId != null" >
        #{commentId,jdbcType=INTEGER},
      </if>
      <if test="customerId != null" >
        #{customerId,jdbcType=INTEGER},
      </if>
      <if test="shopId != null" >
        #{shopId,jdbcType=INTEGER},
      </if>
      <if test="logistics != null" >
        #{logistics,jdbcType=REAL},
      </if>
      <if test="service != null" >
        #{service,jdbcType=REAL},
      </if>
      <if test="consistency != null" >
        #{consistency,jdbcType=REAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.itheima.springmvc.pojo.CommentExample" resultType="java.lang.Integer" >
    select count(*) from comment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update comment
    <set >
      <if test="record.commentId != null" >
        comment_id = #{record.commentId,jdbcType=INTEGER},
      </if>
      <if test="record.customerId != null" >
        customer_id = #{record.customerId,jdbcType=INTEGER},
      </if>
      <if test="record.shopId != null" >
        shop_id = #{record.shopId,jdbcType=INTEGER},
      </if>
      <if test="record.logistics != null" >
        logistics = #{record.logistics,jdbcType=REAL},
      </if>
      <if test="record.service != null" >
        service = #{record.service,jdbcType=REAL},
      </if>
      <if test="record.consistency != null" >
        consistency = #{record.consistency,jdbcType=REAL},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update comment
    set comment_id = #{record.commentId,jdbcType=INTEGER},
      customer_id = #{record.customerId,jdbcType=INTEGER},
      shop_id = #{record.shopId,jdbcType=INTEGER},
      logistics = #{record.logistics,jdbcType=REAL},
      service = #{record.service,jdbcType=REAL},
      consistency = #{record.consistency,jdbcType=REAL}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.itheima.springmvc.pojo.Comment" >
    update comment
    <set >
      <if test="customerId != null" >
        customer_id = #{customerId,jdbcType=INTEGER},
      </if>
      <if test="shopId != null" >
        shop_id = #{shopId,jdbcType=INTEGER},
      </if>
      <if test="logistics != null" >
        logistics = #{logistics,jdbcType=REAL},
      </if>
      <if test="service != null" >
        service = #{service,jdbcType=REAL},
      </if>
      <if test="consistency != null" >
        consistency = #{consistency,jdbcType=REAL},
      </if>
    </set>
    where comment_id = #{commentId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.itheima.springmvc.pojo.Comment" >
    update comment
    set customer_id = #{customerId,jdbcType=INTEGER},
      shop_id = #{shopId,jdbcType=INTEGER},
      logistics = #{logistics,jdbcType=REAL},
      service = #{service,jdbcType=REAL},
      consistency = #{consistency,jdbcType=REAL}
    where comment_id = #{commentId,jdbcType=INTEGER}
  </update>
</mapper>